footer.site-footer {
    padding: 20px 0 var(--section-separation) 0;
    font-size: 1.4rem;
    line-height: 1.75;
    margin-top: var(--section-separation);

    &:before {
        content: "";
        display: block;
        height: 3px;
        width: 50px;
        background: var(--body-text-color);
        margin-bottom: 20px;
    }

    .copyright {
        color: var(--accent-color);
        font-weight: normal;
        font-size: 1.5rem;
        // 改“共书写了...字”的那一块的加粗和字体大小
        margin-bottom: 5px;
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: 100;
        // 让字重比normal更轻了一点（大概
        font-size: 1.5rem;
        font-style: normal;
        //取消powerby部分的斜体，主要针对不蒜子

        a {
            color: var(--body-text-color);
        }
    }
}
