{{ define "main" }}
    <style>
    #test {
        width: auto;
        height: auto;
        overflow: hidden !important; 
      }

    /* 想写个居中然而无奈不会，先这样吧 */

    #my-tags mark {
    position: initial!important;
    }
    </style>
      <div id="test"></div>
      <script src="/js/tags-wall.js"></script>
      <script>
        Tags({
          style: {
            fn: Style1,
            title: '关于嘉平',
            animation: 0,
            scale: 0.65,
            randomScoreIfNoSetting: 1 // 如果是1，则如果未设置标签大小那么随机设置一个大小；否则使用默认大小5
          },
          text: `
          火锅/7/需要摄入
          红油钵钵鸡/7/需要摄入
          叉烧双蛋肠粉/8/需要摄入
          荔湾艇仔粥/6/需要摄入
          红糖红豆麻薯/6/需要摄入
          锅包肉/9/需要摄入
          菠萝包/8/需要摄入
          啤酒鸡/6/需要摄入
          冬阴功/&#47;/需要摄入
          黄咖喱牛肉/7/需要摄入
          泰式虾饼/&#47;/需要摄入
          多肉葡萄/9/需要摄入
          真三国无双·丕司马/10/我CP重磅登场
          重生之宿敌·六九/8/我CP重磅登场
          疑犯追踪·肖根/7/我CP重磅登场
          黑塔利亚·花夫妇/6/我CP重磅登场
          曹丕/9/我推
          司马懿/9/我推
          Toothless/7/我推
          神蛊温皇/8/我推
          费里西安诺·瓦尔加斯/6/我推
          计算语言学/8/正在学习
          汉语言文学/6/正在学习
          概率论/7/正在学习
          离散数学/8/正在学习
          C语言/8/正在学习
          机器学习/7/正在学习
          博客装修/9/正在学习
          前端基础/6/正在学习
          金光布袋戏/9/有时看
          话剧/7/有时看
          音乐剧/8/有时看
          刑侦推理剧集/6/有时看
          三国衍生/9/有时看
          梦境记录/7/日常娱乐
          散步/6/日常娱乐
          手账/9/日常娱乐
          抚摸小狗/8/日常娱乐
          随机出游/8/日常娱乐
          大睡一觉/6/日常娱乐
          大吃一通/6/日常娱乐
          南京/6/喜欢跑到
          上海/7/喜欢跑到
          成都/8/喜欢跑到
          洛阳/9/喜欢跑到
          武汉/6/喜欢跑到
          长江边/9/喜欢跑到
          首阳山/10/喜欢跑到
          动物森友会/8/还没玩但好奇探头
          塞尔达传说/9/还没玩但好奇探头
          真三国无双8/7/还没玩但好奇探头
          DDL战士/8/身份标签
          INFP/7/身份标签
          She/7/身份标签
          her/6/身份标签
          `,

          // 偶尔读书/10/关于我/https:&#47;&#47;cactus-mod.mantyke.icu&#47;books
          // 有时电影/8/关于我/https:&#47;&#47;cactus-mod.mantyke.icu/movies
          // 抽空游戏/7/关于我/https:&#47;&#47;cactus-mod.mantyke.icu/games
          // 拜访朋友们/10/关于我/https:&#47;&#47;cactus-mod.mantyke.icu&#47;friends

          rootDOM: document.getElementById('test')
        })

       /** 使用说明
  * 1. 将 index.js 引入自己的页面
  * 2. 在引入上述脚本的下方插入代码：
      Tags({
        style: {
          fn: Style1,
          title: '你的名字',
          animation: 1 // 如果是1，则开启动画，否则不开启动画
          scale: 1 // 放缩比例，即可调节标签和背景字的整体大小
        },
        text: `
        <标签名>/<分数（0-10，决定标签大小）>/<标签类型>/<链接（点击标签会跳转到这个链接）>
        ...
        `, // 可以写在单独的文件中，如果写在的文件中，需要像上方那样使用fetch请求文件
        rootDOM: document.getElementById('目标载入dom的id')
      })
  */
    </script>
      </script>



{{ end }}